@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Loginbackground.jpg')
}

.bigwrapper {
    width: 800px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.bigwrapper::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 400%;
    background: linear-gradient(white, white);
    box-shadow: 0 0 100px rgb(255, 255, 255);
    animation: rotate 4s linear infinite;
    z-index: -1;
    border-radius: 10px;
}

.bigwrapper::after {
    content: '';
    position: absolute;
    background: transparent;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.wrapper {
    width: 1600px;
    background: black;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    z-index: 2;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;

}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    border-radius: 40px;
    border: 2px solid #fff;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px -0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .login-button {
    width: 100%;
    height: 45px;
    background-color: white;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.login-button:hover {
    transform: translateY(3px);
    background-color: black;
}

.login-button .loginbtntext:hover{
    color:white;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(255, 255, 255);
}